body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f8fafc;
  color: #212529;
}
.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.flex-item {
  width: calc(100%/3);
  flex-basis: auto;
  height: 300px;
}

.card-title {
  height: 40px;
  text-align: center;
}

.skill {
  height: 70px;
  align-items: center;
}

@media all and (max-width:1000px) {
  .flex-item {
  width: calc(100%/2);
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  }
  .skill {
    height: 90px;
  }
}


@media all and (max-width: 480px) {
  .flex-item {
  width: calc(100%/1);
  align-items: center;
  justify-content: center;
  }
}
